/* === Navbar Styles === */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1c2541;
    height: 100px;
    box-shadow: 0 10px 25px rgba(0, 3, 39, 1);
}

.logo {
    width: 100px;
    height: 100px;
    padding: 0 10px;
    object-fit: contain;
}

.HEO {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color: azure;
    font-size: xx-large;
    font-weight: 500;
}

.motto {
    justify-content: center;
    color: #bbcbcb;
    font-size: x-large;
}

.ul_navbar {
    display: flex;
    align-items: center;
    height: 100px;
    margin: 0;
    padding: 0;
}

.li_navbar {
    list-style: none;
    margin: 0 5px;
    padding: 15px;
    color: azure;
    font-size: x-large;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.li_navbar:hover {
    background-color: blue;
    border-radius: 7px;
}

.a_navbar {
    color: inherit;
    text-decoration: none;
}

.li_profile {
    list-style: none;
    padding: 35px;
}

.profile {
    width: 75px;
    height: 75px;
    transition: 0.4s ease-in-out;
}

.profile:hover {
    width: 95px;
    height: 95px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 15px;
    }

    .HEO {
        align-items: flex-start;
        font-size: x-large;
    }

    .ul_navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: 100%;
    }

    .li_navbar, .li_profile {
        width: 100%;
        padding: 10px 0;
    }

    .a_navbar {
        display: block;
        width: 100%;
        padding: 10px 20px;
    }

    .profile {
        width: 50px;
        height: 50px;
    }

    .profile:hover {
        width: 65px;
        height: 65px;
    }
}

/* Navbar end */